<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwE1_QrGaz1dSZQHY_1SDKfm6nWGG8ciY</string>
	<key>GCM_SENDER_ID</key>
	<string>184568342533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.nwmissouri.summer24.cs44691sec02.Onlineexchange.OnlineExchange</string>
	<key>PROJECT_ID</key>
	<string>onlineexchange-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>onlineexchange-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184568342533:ios:f1e4096f6009e54ad0946c</string>
</dict>
</plist>